asttokens==3.0.0
certifi==2024.12.14
charset-normalizer==3.4.0
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
cycler==0.12.1
debugpy==1.8.11
decorator==5.1.1
et-xmlfile==1.1.0
exceptiongroup==1.2.2
executing==2.1.0
fonttools==4.55.3
idna==3.10
ipykernel==6.29.5
ipython==8.31.0
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.7
matplotlib==3.10.0
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
openpyxl==3.1.5
packaging==24.2
parso==0.8.4
platformdirs==4.3.6
prompt_toolkit==3.0.48
psutil==6.1.1
pure_eval==0.2.3
pycryptodome==3.21.0
Pygments==2.19.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pywin32==308
pyzmq==26.2.0
requests==2.32.3
six==1.17.0
stack-data==0.6.3
tornado==6.4.2
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.2.3
wcwidth==0.2.13
absl-py==2.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
async-lru==2.0.4
async-timeout==5.0.1
attrs==25.1.0
av==14.1.0
babel==2.17.0
beautifulsoup4==4.13.3
black==25.1.0
bleach==6.2.0
blender==1.4
blinker==1.9.0
cffi==1.17.1
chardet==5.2.0
click==8.1.8
cloudpickle==3.1.1
coacd==1.0.5
ConfigArgParse==1.7
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.6.7
datasets==3.4.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.8
docker-pycreds==0.4.0
etils==1.12.2
Farama-Notifications==0.0.4
fastjsonschema==2.21.1
filelock==3.18.0
Flask==3.0.3
fqdn==1.5.1
freetype-py==2.5.1
frozenlist==1.5.0
fsspec==2024.12.0
genesis-world==0.2.1
gensim==4.3.3
gitdb==4.0.12
GitPython==3.1.44
glfw==2.8.0
gym==0.26.2
gymnasium==0.29.1
gym-notices==0.0.8
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.29.3
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.4.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyterlab==4.3.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
lazy_loader==0.4
libigl==2.5.1
llvmlite==0.44.0
lxml==5.3.1
manifold3d==3.0.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mdurl==0.1.2
memory-profiler==0.61.0
mistletoe==1.4.0
mistune==3.1.2
moviepy==2.1.2
msvc_runtime==14.42.34433
mujoco==3.2.5
multidict==6.2.0
multiprocess==0.70.16
mypy-extensions==1.0.0
narwhals==1.29.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
networkx==3.4.2
nltk==3.9.1
notebook==7.3.2
notebook_shim==0.2.4
numba==0.61.0
numpy==1.24.4
open3d==0.19.0
opencv-python==4.11.0.86
OpenEXR==3.3.2
ordered-set==4.1.0
overrides==7.7.0
pandas==2.2.3
pandocfilters==1.5.1
pathspec==0.12.1
pillow==10.4.0
pip==23.0.1
pip==25.0.1
plotly==5.24.1
pooch==1.8.2
proglog==0.1.10
prometheus_client==0.21.1
propcache==0.3.1
protobuf==5.29.4
pyarrow==19.0.1
pybullet==3.2.7
pycollada==0.9
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
pygame==2.6.1
PyGEL3D==0.6.1
pyglet==1.5.31
pygltflib==1.16.0
PyLaTeX==1.4.2
pymeshlab==2023.12.post3
PyOpenGL==3.1.9
PyPDF2==3.0.1
pyswarm==0.6
pyte==0.8.2
python-dotenv==1.0.1
python-json-logger==3.2.1
pytz==2025.1
pyvista==0.44.2
pywinpty==2.0.15
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.23.1
rtree==1.4.0
scikit-image==0.25.1
scikit-learn==1.6.1
scipy==1.13.1
scooby==0.10.0
screeninfo==0.8.1
Send2Trash==1.8.3
sentry-sdk==2.26.0
setproctitle==1.3.5
setuptools==65.5.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
taichi==1.7.3
tenacity==9.0.0
terminado==0.18.1
tetgen==0.6.4
thefuck==3.32
threadpoolctl==3.5.0
tifffile==2025.1.10
tinycss2==1.4.0
tomli==2.2.1
torch==1.12.0
torchvision==0.13.0
tqdm==4.67.1
trimesh==4.6.5
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
tzdata==2025.1
uri-template==1.3.0
vtk==9.3.1
wandb==0.19.9
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.6
widgetsnbextension==4.0.13
win_unicode_console==0.5
wrapt==1.17.2
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
